# This is Git's per-user configuration file.
[user]
	name = Thiago Chu
	email = thiagomei@id.uff.br
	signingkey = D337E0C06D90C432
[core]
	editor = nvim
[init]
    defaultBranch = master
[commit]
	gpgsign = true
[alias]
	yolo = !git commit -m \"$(curl -s https://whatthecommit.com/index.txt)\"
[gpg]
	program = gpg
[advice]
    addIgnoredFile = false
