# This is Git's per-user configuration file.
[user]
	name = Thiago Chu
	email = thiagomei@id.uff.br
	signingkey = FDF48D6ABC0A2261
[core]
	editor = nvim
[commit]
	gpgsign = true
[alias]
	yolo = !git commit -m \"$(curl -s whatthecommit.com/index.txt)\"
[gpg]
	program = gpg
