@define-color borders_breeze #3f3f3f;
@define-color content_view_bg_breeze #0f0f0f;
@define-color error_color_backdrop_breeze #da4453;
@define-color error_color_breeze #da4453;
@define-color error_color_insensitive_backdrop_breeze #522025;
@define-color error_color_insensitive_breeze #522025;
@define-color insensitive_base_color_breeze #0e0e0e;
@define-color insensitive_base_fg_color_breeze #575757;
@define-color insensitive_bg_color_breeze #0a0a0a;
@define-color insensitive_borders_breeze #1b1b1b;
@define-color insensitive_fg_color_breeze #505050;
@define-color insensitive_selected_bg_color_breeze #0a0a0a;
@define-color insensitive_selected_fg_color_breeze #505050;
@define-color insensitive_unfocused_bg_color_breeze #0a0a0a;
@define-color insensitive_unfocused_fg_color_breeze #505050;
@define-color insensitive_unfocused_selected_bg_color_breeze #0a0a0a;
@define-color insensitive_unfocused_selected_fg_color_breeze #505050;
@define-color link_color_breeze #315bef;
@define-color link_visited_color_breeze #787878;
@define-color success_color_backdrop_breeze #27ae60;
@define-color success_color_breeze #27ae60;
@define-color success_color_insensitive_backdrop_breeze #164329;
@define-color success_color_insensitive_breeze #164329;
@define-color theme_base_color_breeze #0f0f0f;
@define-color theme_bg_color_breeze #0a0a0a;
@define-color theme_button_background_backdrop_breeze #1e1e1e;
@define-color theme_button_background_backdrop_insensitive_breeze #1d1d1d;
@define-color theme_button_background_insensitive_breeze #1d1d1d;
@define-color theme_button_background_normal_breeze #1e1e1e;
@define-color theme_button_decoration_focus_backdrop_breeze #3c3c3c;
@define-color theme_button_decoration_focus_backdrop_insensitive_breeze #272727;
@define-color theme_button_decoration_focus_breeze #3c3c3c;
@define-color theme_button_decoration_focus_insensitive_breeze #272727;
@define-color theme_button_decoration_hover_backdrop_breeze #969696;
@define-color theme_button_decoration_hover_backdrop_insensitive_breeze #454545;
@define-color theme_button_decoration_hover_breeze #969696;
@define-color theme_button_decoration_hover_insensitive_breeze #454545;
@define-color theme_button_foreground_active_backdrop_breeze #dedede;
@define-color theme_button_foreground_active_backdrop_insensitive_breeze #505050;
@define-color theme_button_foreground_active_breeze #ffffff;
@define-color theme_button_foreground_active_insensitive_breeze #505050;
@define-color theme_button_foreground_backdrop_breeze #fafafa;
@define-color theme_button_foreground_backdrop_insensitive_breeze #666666;
@define-color theme_button_foreground_insensitive_breeze #666666;
@define-color theme_button_foreground_normal_breeze #fafafa;
@define-color theme_fg_color_breeze #dedede;
@define-color theme_hovering_selected_bg_color_breeze #eaeaea;
@define-color theme_selected_bg_color_breeze #3278e6;
@define-color theme_selected_fg_color_breeze #ffffff;
@define-color theme_text_color_breeze #eaeaea;
@define-color theme_titlebar_background_backdrop_breeze #424242;
@define-color theme_titlebar_background_breeze #333333;
@define-color theme_titlebar_background_light_breeze #0a0a0a;
@define-color theme_titlebar_foreground_backdrop_breeze #eaeaea;
@define-color theme_titlebar_foreground_breeze #dedede;
@define-color theme_titlebar_foreground_insensitive_backdrop_breeze #eaeaea;
@define-color theme_titlebar_foreground_insensitive_breeze #eaeaea;
@define-color theme_unfocused_base_color_breeze #0f0f0f;
@define-color theme_unfocused_bg_color_breeze #0a0a0a;
@define-color theme_unfocused_fg_color_breeze #dedede;
@define-color theme_unfocused_selected_bg_color_alt_breeze #132a4f;
@define-color theme_unfocused_selected_bg_color_breeze #132a4f;
@define-color theme_unfocused_selected_fg_color_breeze #dedede;
@define-color theme_unfocused_text_color_breeze #eaeaea;
@define-color theme_unfocused_view_bg_color_breeze #0e0e0e;
@define-color theme_unfocused_view_text_color_breeze #575757;
@define-color theme_view_active_decoration_color_breeze #3278e6;
@define-color theme_view_hover_decoration_color_breeze #3278e6;
@define-color tooltip_background_breeze #323232;
@define-color tooltip_border_breeze #5d5d5d;
@define-color tooltip_text_breeze #dedede;
@define-color unfocused_borders_breeze #3f3f3f;
@define-color unfocused_insensitive_borders_breeze #1b1b1b;
@define-color warning_color_backdrop_breeze #f67400;
@define-color warning_color_breeze #f67400;
@define-color warning_color_insensitive_backdrop_breeze #5b3009;
@define-color warning_color_insensitive_breeze #5b3009;
