format = """
\\[\
$username\
@\
$hostname\
$directory\
$git_status\
$git_branch\
\\]\
$character\
"""

right_format = """
$cmd_duration\
$time\
"""

[cmd_duration]
min_time=0
show_milliseconds=true
show_notifications=true

[time]
disabled=false

[username]
style_user = "green bold"
style_root = "red bold"
format = "[$user]($style)"
disabled = false
show_always = true

[hostname]
ssh_only = false
format = "[$hostname]($style) "
style = "green bold"
disabled = false

[character]
success_symbol = "[\\$](bold green)"
error_symbol = "[\\$](bold red)"
vimcmd_symbol = "[<](bold green)"

[git_status]
format = " ([\\[$all_status$ahead_behind\\]]($style) )"
ahead = ">"
behind = "<"
diverged = "<>"
renamed = "r"
deleted = "x"

[git_branch]
format="[$branch]($style)"

[directory]
format="[$path]($style)[$read_only]($read_only_style)"
